#About {
  .h1 {
    font-size: 50px;
    letter-spacing: 7px;
    margin-bottom: 50px;
    color: black;
    text-align: center;
  }
  .about-containter {
    padding: 40px;
    border-radius: 20px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .profile-img {
      height: 400px;
      --s: 10px;
      padding: var(--s);
      border: calc(2 * var(--s)) solid #0000;
      outline: 1px solid #000;
      outline-offset: calc(-1 * var(--s));
      background: conic-gradient(from 90deg at 1px 1px, #0000 25%, #000 0);
    }
    .about-section {
      border-radius: 20px;
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      width: 40%;
      margin: 20px;
      padding: 50px;
      background-image: linear-gradient(to right, #434343 0%, black 100%);
      color: white;
      h1 {
        text-align: center;
      }
      h2 {
        font-size: 24px;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  #About {
    .h1 {
      font-size: 35px;
    }
    display: flex;
    flex-direction: column;
    width: 100%;
    .about-containter {
      .about-section {
        width: 100%;
      }
    }
  }
}

@media only screen and (min-device-width: 577px) and (max-device-width: 1100px) {
  #About {
    display: flex;
    flex-direction: column;
    width: 100%;
    .about-containter {
      .about-section {
        width: 100%;
      }
    }
  }
}
