#Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(48, 47, 47);
  color: white;
  .nameLetter {
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .links-div {
    display: flex;
    .link {
      border: 1px solid;
      border-radius: 20px;
      padding: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: white;
      margin: 8px;
      &:hover {
        background-color: #042b5f48;
        color: white;
      }
      img {
        height: 30px;
        margin-right: 15px;
      }
    }
  }
}
